@model Quiron.LojaVirtual.Web.Models.ProdutosViewModel
@using Quiron.LojaVirtual.Web.Controllers.HtmlHelpers

@{
    ViewBag.Title = "ListaProdutos";
}

<h2>ListaProdutos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model.Produtos) {
    @Html.Partial("ProdutoDetalhes",item)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.Paginacao, x => Url.Action("ListaProdutos", new {pagina = x}))
</div>